<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
    About us
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="my-5"><em>About us</em></h1>
            </div>
        </div>
    </div>
    <center><h4 style="color: Black;"><em>
        <p>You are young and ambitious person?<br /><br />
            You want to start your own business, but you do not know how?<br /><br />
            You do not dispose or you lack resources for the first step?</p><br />

            Hello my dear visitor,<br />
            It is me, Martin Vardanyan, the founder of this project. <br />
            I have just recently started programming and this is my very first web project, so please do not judge me too strictly.<br />
            If you are someone who wants to open its own online shop, but you lack resources for creating and maintaining your website, then our project is exactly for you!<br />
            With us, you can accomplish all your ideas and goals.<br />
            And of course, along with this, we made it possible for everyone to buy goods from any store, thereby providing feedback.<br />
            For us it is very important the possibility of creating a business for those who do not have such resources and who encounter some difficulties along the way.<br />
            Buy goods without even leaving the house!<br />
            Create your own business without even leaving the house!<br /><br />

            Make your first step,<br />
            Create your own online shop with us!<br />
            This site made with support Gegham Jivanyan!<br />
            Avetisyan Polina worked on this text!</em></h4></center>
{% endblock %}