<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
    Add Category
{% endblock %}
{% block body_block %}
        <center><h1 class="my-4"><em>Add category here!</em></h1>
            <form id="category_form" method="post" action="{% url 'market:add_category' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" >
                    <p class="required"><label class="required" for="name"><h6 style="color: Black"><em>Category name:</em></h6></label><br />
                        <input class="list-group-item" id="name" maxlength="30" name="name" type="text" placeholder="Category name"/>
                    </p>
                    <p><label class="required" for="picture"><h6 style="color: Black"><em>Category picture:</em></h6></label>
                        <input name="picture" id="picture" type="file" multiple accept="image/*,image/jpeg"><br /><br />
                    </p>
                        <input type="submit" name="submit" value="Add Category"/><br /><br /><br /><br /><br />
                </div>
            </form>
        </center>
{% endblock %}