<!DOCTYPE html>
{% extends 'customer_base.html' %}
{% load static %}
{% block title_block %}
Add item in my bug
{% endblock %}
{% block body_block %}
{% if error %}
<h2>{{ message }}</h2>
{% endif %}
{% if is_add %}
<h1>Item successfully add in your bug!</h1>
{% else %}
<form method="POST">
    {% csrf_token %}
    <p>
        <label>Enter the item quanity.</label>
        <input type="text" name="quanity" value="{{ item.quanity }}"/>
    </p>
    <input type="submit" value="Save" >
</form>
{% endif %}
{% endblock %}