<!DOCTYPE html>
{% extends 'customer_base.html' %}
{% load static %}
{% block title_block %}
    Add item in my bug
{% endblock %}
{% block body_block %}
    {% if error %}
        <center><h2 style="color: BLack"><em>We don't have so many quantity!</em></h2></center><br /><br /><br />
    {% endif %}
    {% if is_add %}
        <br /><br /><center><h1 style="color: Black"><em>Item successfully added in your bag!</em></h1></center><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    {% else %}
        <center><h2 style="color: Black"><em>Buy item</em></h2></center>
            <form method="POST">
                {% csrf_token %}
                <p>
                    <label><center><h4 style="color: Black"><em>Enter the item quantity.</em></h4></center></label>
                    <center><input class="list-group-item" type="text" name="quanity" value="{{ item.quanity }}"/></center>
                </p>
                    <center><input type="submit" value="Save"></center>
            </form><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    {% endif %}
{% endblock %}