<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    Add Item in {{ category.name }} Category
{% endblock %}
{% block body_block %}
<h2> Add item here!</h2>
{% if additem %}
<strong>Thanks for add item!</strong>
{% else %}
    <form id="item_form" method="post" action="{% url 'market:add_item' category.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ item_form.as_p }}
        <input type="submit" name="submit" value="Add Item"/>
    </form>
{% endif %}
{% endblock %}