<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
    Add Item in {{ category.name }} Category
{% endblock %}
{% block body_block %}
        <center><h2 style="color: Black"><em>Add item here!</em></h2>
            <form id="item_form" method="post" action="{% url 'market:add_item' category.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <p class="required"><label class="required" for="name"><h6 style="color: Black"><em>Item name:</em></h6></label><br />
                        <input class="list-group-item is valid" id="name" maxlength="30" name="name" type="text" placeholder="Item name"/>
                    </p>
                    <p class="required"><label class="required" for="price"><h6 style="color: Black"><em>Item price:</em></h6></label><br />
                        <input class="list-group-item" id="price" maxlength="30" name="price" type="text" placeholder="Item price"/>
                    </p>
                    <p class="required"><label class="required" for="quanity"><h6 style="color: Black"><em>Item quantity:</em></h6></label><br />
                        <input class="list-group-item" id="quanity" maxlength="30" name="quanity" type="text" placeholder="Item quanity"/>
                    </p>
                    <p><label class="required" for="picture"><h6><font color="black"><em>Item picture:</em></font></h6></label>
                        <input id="picture" name="picture" type="file" multiple accept="image/*,image/jpeg">
                    </p>
                    <p class="required"><label class="required" for="info"><h6 style="color: Black"><em>Information about Item:</em></h6></label>
                        <textarea id="info" name="info" placeholder="Information about Item" class="list-group-item" rows="7"></textarea>
                    </p>
                </div>
                    <input type="submit" name="submit" value="Add Item"/>
            </form>
        </center>
{% endblock %}