<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
{{ username }} Profile
{% endblock %}
{% block body_block %}
    <h1>{{ username }}'s Profile</h1>
    <h3>Your Stock:</h3><a href="{% url 'market:my_stock' %}"><h2>{{ stockname }}</h2></a>
    <a href="{% url 'market:edit_stock_name' id %}">Edit Stock Name!</a>
    <br/><br/>{% if avatar %}
        <img src="/media/{{ avatar }}" width="300" height="300" alt="{{ username }}'s profile image" />
    {% endif %}
{% endblock %}
