<!DOCTYPE html>
{% extends 'customer_base.html' %}
{% load static %}
{% block title_block %}
{{ stock.name }}
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
            {% if categories %}
                <br /><br /><h2 class="my-4" style="color: BLack"><em>Category in {{ stock.name }} stock:</em></h2><br /><br />
                <div class="row">
                    {% for category in categories %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'market:item_list' category.id %}"><img class="card-img-top" src="/media/{{ category.picture }}" width="300" height="200" alt="{{ category }}'s image"></a>
                                <div class="card-body">
                                <h4 class="card-title">
                                    <a class="nav-link" href="{% url 'market:item_list' category.id %}"><em>{{ category.name }}</em></a>
                                </h4>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <br /><br /><br /><h2 style="color: Black"><em>{{ stock.name }} don't have category yet(</em></h2><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}