<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    {{ category.name }} Category
{% endblock %}
{% block body_block %}
{% if item %}
<strong>Your Items:</strong><br/>
        {% for items in item %}
            {{ items.name }} - {{ items.price }}$ - {{ items.quanity }} pieces<br/>
            <img src="/media/{{ items.picture }}" width="150" height="150" alt="{{ item }}'s items image" /><br/>
        {% endfor %}
{% else %}
    Your don't have item in your category!
{% endif %}
    <li><a href="{% url 'market:add_item' category.id %}">Add Item in your Category</a></li>
{% endblock %}