<!DOCTYPE html>
{% extends 'customer_base.html' %}
{% load static %}
{% block title_block %}
{{ customer.user }} Profile
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="my-5"><em>{{customer.user}}'s Profile</em></h2>
            <br/><br/><img src="/media/{{ customer.avatar }}" width="300" height="300" alt="{{ customer.user }}'s profile image" /><br/><br /><br />
        </div>
    </div>
</div>
{% endblock %}