<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market -
    {% block title_block %}
        Welcome to our online shop!
    {% endblock %}
    </title>
</head>
<body>
    <div>
        {% block body_block%}
        {% endblock %}
    </div>
    {% if user.is_authenticated %}
    <li><a href="{% url 'market:logout' %}">Logout</a></li>
    <li><a href="{% url 'market:customer_profile' %}">Your Profile</a></li>
    <li><a href="{% url 'market:stock_list' %}">Stock list</a></li>
    <li><a href="{% url 'market:my_bug' %}"><strong>Your bug</strong></a></li>
    {% else %}
    <li><a href="{% url 'market:login' %}">Login</a></li>
    <li><a href="{% url 'market:admin_register' %}">Register like Admin</a></li>
    <li><a href="{% url 'market:customer_register' %}">Register like Customer</a></li>
    {% endif %}
</body>
</html>