<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
    Edit Stock Name!
{% endblock %}
{% block body_block %}
{% if is_edit %}
<br /><br /><br /><center><h1 style="color: BLack"><em>You successfully edit your stock name!</em></h1></center><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% else %}
<center><h1><em>Edit your stock name!</em></h1>
    <form method="post" action="{% url 'market:edit_stock_name' id %}">
        {% csrf_token %}
        <p>
            <label><em><h6 style="color: Black">Enter stock name</h6></em></label>
            <input class="list-group-item" type="text" name="name" placeholder="Stock name" value="{{ stock_name }}"/>
        </p>
        <input type="submit" value="Save">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </form>
</center>
{% endif %}
{% endblock %}
