<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
Edit Item!
{% endblock %}
{% block body_block %}
<center><h1 style="color: BLack"><em>Edit your item!</em></h1>
<form method="POST">
    {% csrf_token %}
    <p>
        <label><h6 style="color: Black"><em>Enter item name</em></h6></label>
        <input class="list-group-item" type="text" name="name" value="{{ item.name }}" placeholder="Item name"/><br/>
        <label><h6 style="color:Black"><em>Enter item price</em></h6></label><br />
        <input class="list-group-item" type="text" name="price" value="{{ item.price }}" placeholder="Item price"/><br/>
        <label><h6 style="color:Black"><em>Enter item quantity</em></h6></label><br />
        <input class="list-group-item" type="text" name="quanity" value="{{ item.quanity }}" placeholder="Item quantity"/>
        <label><h6 style="color:Black"><em>Enter information about item</em></h6></label><br />
        <input class="list-group-item" type="text" name="info" size="45" value="{{ item.info }}" placeholder="Information about item"/>
    </p>
    <input type="submit" value="Save" ><br /><br />
</form>
</center>
{% endblock %}