<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block tittle_block %}
Income
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
        {% if income %}
            <h2 class="my-4" ><em>Your income: {{ income }} $ </em></h2>
        </div>
        <div class="col-lg-8">
            <h3 class="my-4" ><em>Sold items:</em></h3><br />
            <div class="row">
            {% for i in sold_items %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/media/{{ i.picture }}" width="300" height="200" alt="{{ i }}'s items image"></a>
                        <div class="card-body">
                        <h4 class="card-title">
                        <em>{{ i.name }}</em>
                        </h4>
                        <h5><em>{{ i.price }} $</em></h5>
                        <p class="card-text"><em>{{ i.info }}<br />{{ i.quanity }} pieces</em></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <br /><br /><center><em><h1 style="color: Black">You have not any sold items.</h1></em></center><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        {% endif %}
    </div>
</div>
{% endblock %}
