{% extends 'admin_base.html' %}
{% load static %}
{% block tittle_block %}
    Login
{% endblock %}
{% block body_block %}
<center><h1><em>Login to Shop</em></h1><br /><br /><br /><br />
        <br/>
    <form class="card-title" id="login_form" method="post" action="{% url 'market:login' %}">
        {% csrf_token %}
        <h6><font color="black"><em>Username:</em></font></h6><input class="list-group-item" type="text" name="username" value="" size="50"/>
        <br />
        <h6><font color="black"><em>Password:</em></font></h6><input class="list-group-item" type="password" name="password" value="" size="50"/>
        <br /><br />
        <input class="list-group-item" type="submit" value="Login" />
    </form>
    </center>
{% endblock %}