<!DOCTYPE html>
{% extends 'customer_base.html' %}
{% load static %}
{% block title_block %}
My Bag
{% endblock %}
{% block body_block %}
        <h1>{{ customer.user }} Bag</h1>
{% if items %}
    {% for item in items %}
        {{ item.item.name }} - {{ item.item.price }} $ - {{ item.item.quanity }} pieces <a href="{% url 'market:remove' item.item.id %}">Delete</a><br/>
        <img src="/media/{{ item.item.picture }}" width="150" height="150" alt="{{ item.item.name }}'s items image" /><br/>
        <strong>Buy Time: {{ item.buy_time }}</strong><br/><br/>
    {% endfor %}
{% else %}
<h2>Your Bag is empty!</h2>
{% endif %}
{% endblock %}