<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
    {{ stock_name }} Shop
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
      <div class="col-lg-4">
    {% if categories %}
        <br /><br /><h3 class="my-4">Your categories:</h3><br /><br /><br />
            {% for category in categories %}
          <div class="list-group">
                <a class="nav-link" href="{% url 'market:category' category.id %}"><h5>{{ category.name }}</h5></a>
          </div>
          {% endfor %}
          <br /><br /><br /><br /><a class="nav-link" href="{% url 'market:income' %}"><h4>Income your stock</h4></a>
    {% else %}
          <br /><center><h2 style="color: Black"><em>Your don't have category in your stock!</em></h2></center><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    {% endif %}
          <a class="nav-link" href="{% url 'market:add_category' %}"><h3><em>Add Category</em></h3></a>
    </div>
    </div>
</div>
{% endblock %}