<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
    {{ stock_name }} Shop
{% endblock %}
{% block body_block %}
    {% if categories %}
         <strong>Your categories:</strong><br/><br/>
            {% for category in categories %}
                <a href="{% url 'market:category' category.id %}"><strong>{{ category.name }}</strong></a></br>
                {% endfor %}
            <a href="{% url 'market:income' %}"><h2>Income your stock</h2></a>
    {% else %}
        Your don't have category in your stock!
    {% endif %}
        <br/><li><a href="{% url 'market:add_category' %}">Add Category in your Stock</a></li>
{% endblock %}