<!DOCTYPE html>
{% extends 'customer_base.html' %}
{% load static %}
{% block title_block %}
Remove item in my bag!
{% endblock %}
{% block body_block %}
{% if is_remove %}
<br /><center><h1 style="color: Black"><em>Item successfully remove in your bag!</em></h1><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% else %}
    <br /><br /><center><h1 style="color: Black"><em>Item don't find!</em></h1><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endif %}
{% endblock %}